<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/update.css')}}">
</head>
<body>
    <div class="header">
        <h1 onclick="window.location.href='/chat'" style="cursor: pointer;">WorkWave</h1>
    </div>
    <div class="container">
        <h2>Update Profile</h2>
        <form action="/update" method="POST">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" value="{{ current_user.first_name }}" required>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" value="{{ current_user.last_name }}" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ current_user.email }}" required>

            <label for="current_password">Current Password:</label>
            <input type="password" id="current_password" name="current_password" required>

            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required>

            <button type="submit">Update</button>
        </form>
        <button onclick="window.location.href='/chat'">Cancel</button>
    </div>
</body>

</html>
